.container {
  background-color: rgb(247, 245, 245);
}
.container-main {
  display: flex;
  margin-top: 60px;
}
.searchbar-component {
  display: none;
}
.filters-component {
  position: fixed;
  width: 20%;
  height: 92vh;
}
.products-searchbar {
  position: relative;
  left: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .filters-component {
    display: none;
  }
  .products-searchbar {
    left: 0%;
    width: 100%;
  }
  .searchbar-component {
    display: block;
    height: 50px;
  }
  .filter-icon {
    position: relative;
    left: 86%;
    transform: translateY(-48px);
  }
}
