.main-container {
  display: flex;
  margin-top: 60px;
}
.filters-container {
  position: fixed;
  width: 20%;
  height: 92vh;
  border: 1px solid rgb(128, 125, 125);
}
.products-container {
  position: absolute;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  border: 1px solid rgb(128, 125, 125);
  border-radius: 5px;
  margin: 8px;
  padding: 6px;
  position: relative;
}
.wishlist {
  position: absolute;
  font-size: 25px;
  right: 10px;
  cursor: pointer;
}
.card-btn {
  color: white;
  background-color: blueviolet;
  padding: 5px;
}
.card-btn:hover {
  background-color: rgb(166, 82, 245);
}

@media only screen and (max-width: 768px) {
  .filters-container {
    display: none;
  }
  .products-container {
    left: 0%;
    width: 100%;
    justify-content: center;
  }
  .card {
    width: 80%;
    justify-self: center;
  }
  .card > p {
    margin: 8px 0px;
  }
}
