.filterForDesktop {
  display: none;
}
.filterForMobile {
  position: fixed;
  top: 60px;
  z-index: 10;
  background-color: white;
  width: 100vw;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.floatingIcon {
}
.filterIcon {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 8;
  background-color: white;
  border-radius: 50%;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cartIcon {
  position: fixed;
  bottom: 90px;
  right: 30px;
  z-index: 8;
  background-color: white;
  border-radius: 50%;
  padding: 12px;
  gap: 10px;
  color: rgb(253, 168, 11);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (min-width: 768px) {
  .containerMain {
    display: flex;
  }
  .filterForMobile {
    width: 25vw;
  }
  .productsSearchbar {
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .containerMain {
    display: flex;
  }
  .filtersComponent {
    width: 20vw;
  }
  .productsSearchbar {
    width: 80vw;
  }
  .filterForDesktop {
    display: block;
    z-index: 10;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100vh;
    width: 20vw;
  }
  .filterForMobile {
    display: none;
  }
  .floatingIcon {
    display: none;
  }
}
