.auth-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.Brandname {
  display: flex;
  justify-content: center;
  font-family: "Pacifico", cursive;
}
.form {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
.form > * {
  margin: 5px;
  padding: 6px;
  border-radius: 5px;
  font-family: sans-serif;
}
.form-footer {
  position: fixed;
  bottom: 40px;
  color: blueviolet;
}
.form > button {
  background-color: blueviolet;
  color: white;
}
.form > label {
  padding-left: 0px;
}
.form > h2 {
  padding-left: 0px;
}
.form > button:hover {
  background-color: rgb(164, 84, 238);
  color: white;
  cursor: pointer;
}
.form > input:focus {
  outline: none;
  border-color: #007bff;
}
.form > a {
  display: flex;
  justify-content: center;
}
