.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  border-radius: 5px;
  width: 230px;
  height: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 8px 0px;
}
.wishlist {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
}
.card > img {
  height: 230px;
  width: 230px;
}
.card > p {
  font-size: 14px;
  padding: 4px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.addToCardBtn {
  width: 90%;
  align-self: center;
}
@media only screen and (max-width: 768px) {
  .card {
    width: 45%;
    height: 290px;
  }
  .card > img {
    height: 180px;
    width: 100%;
  }
  .card > p {
    font-size: 10px;
  }
}
