#editablePara > p {
  border: 1px solid black;
}

.address-container {
  margin-top: 70px;
}
.box {
  background-color: aqua;
}
.AddressManagement {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f5f3f2;
  border: 2px solid rgb(0, 0, 0);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
}
.AddressManagement > input,
h4,
button {
  margin: 6px;
  padding: 6px;
}

@media only screen and (max-width: 768px) {
  .AddressManagement {
    width: 90%;
  }
}
