.navbar-main{
    display: flex;
    background-color: black;
    width: 100%;
    height: 60px;
}
.navbar-left{
    display: flex;
    align-items: flex-start;
}
.search-container{
    display: flex;
    align-items: center;
}
.navbar-right{
    display: flex;
}
.link{
    color: white;
    text-decoration: none;
    margin: 5px;
}