.checkout-main {
  border: 1px solid grey;
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkoutBox > * {
  padding: 10px;
}
.checkOut-container {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .checkout-main {
    width: 90%;
  }
}
