.box {
  display: flex;
  margin-top: 80px;
}
.img-container {
  width: 30vw;
  height: 70vh;
  padding: 5px;
}
.productName {
  font-size: 50px;
}
.material {
  border: 2px solid rgb(210, 217, 219);
  border-radius: 10px;
  margin: 5px 0px;
  width: 20vh;
  text-align: center;
}
.description {
  margin-left: 10vh;
}
.card-btn-single {
  padding: 8px;
  margin: 4px;
  width: 20vh;
}
.description > h3 {
  font-weight: normal;
  margin: 10px 0px;
}
@media only screen and (max-width: 768px) {
  .box {
    flex-direction: column;
  }
  .img-container {
    width: 95vw;
  }
  .productName {
    font-size: 20px;
  }
  .description {
    margin: 2vh 2vh;
  }
  .btns {
    display: flex;
    justify-content: center;
  }
  .card-btn-single {
    width: 90vw;
    padding: 8px;
    margin: 4px;
  }
}
