.container{
    display:flex;
    width: 100%;
    justify-content:space-around ;
}
.circle{
    position: relative;

}
.pic{
    border: 2px solid white;
    display: block;

}

.heading{
    position: absolute;
    top:45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 100%;
}