.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 12px;
  cursor: pointer;
  padding-top: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  font-weight: 500;
}
.filterMenucloseIcon {
  padding: 2px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
}
.range {
  display: flex;
  gap: 5px;
}
.rangeInput {
  padding: 10px;
  width: 45%;
}
.category,
.rating,
.sortBy {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.categoryInput,
.ratingInput,
.sortByInput {
  margin-right: 5px;
}
.ratingIcon {
  color: orange;
  padding-top: 2px;
}
.filterClear {
  background-color: orange;
  color: white;
  border: 0px;
  padding: 7px;
}
.filterClear:hover {
  background-color: rgb(252, 201, 108);
}

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
  .container {
    padding-top: 10px;
  }
  .filterMenucloseIcon {
    display: none;
  }
}
